<%- include('navbar') -%>
<head>
	<title>Logs | Error</title>
	<meta name="description" content="Error <%= error %> | <%= error %>" />
	<meta property="og:title" content="Logs | Error" />
	<meta property="og:image" content="/static/FeelsDankMan.png" />
	<meta property="og:description" content="Error <%= error %> | <%= error %>" />
</head>
<body style="text-align: center">
	<h1 class="title" style="color: red; font-weight: bold">Error <%= code %></h1>
	<h1 class="title" style="color: red"><%= error %></h1>
	<img src="/static/FeelsDankMan.png" class="mx-auto" draggable="false" title="FeelsDankMan" alt="FeelsDankMan" />
</body>
