<%- include('navbar') -%>
<head>
	<title>Best Logs</title>
	<meta name="description" content="Logs finder for Twitch" />
	<meta property="og:title" content="Best Logs" />
	<meta property="og:image" content="/static/DankG.png" />
	<meta property="og:description" content="Logs finder for Twitch" />
</head>
<body>
	<div class="text-center margin content">
		<img src="/static/DankG.gif" alt="DankG" />
		<blockquote class="blockquote margin">
			<h1>About</h1>
			<p class="col-md-4 offset-md-4">
				This website does not store information of any kind, it only intends to collect public information about user logs in Twitch chats,
				and display them to visitors in a nice and clean way.
			</p>
		</blockquote>
		<blockquote class="blockquote margin">
			<h1>Usage</h1>
			<p class="col-md-4 offset-md-4">
				Go to the
				<a href="/api" style="text-decoration: none" data-umami-event="link-api">API</a>
				section for more details on how to use this service.
			</p>
		</blockquote>
		<blockquote class="blockquote margin">
			<h1>Used Data & APIs</h1>
			<p class="col-md-4 offset-md-4">The data is currently obtained from the following providers:</p>
			<ul style="display: inline-block; text-align: initial">
				<% for (const data of instances) { %>
				<li>
					<a href="https://<%= data %>" style="text-decoration: none" data-umami-event="instance-<%= data %>"> <%= data %></a>
				</li>
				<% } %>
			</ul>
		</blockquote>
		<blockquote class="blockquote margin">
			<h1>Instance</h1>
			<p class="col-md-4 offset-md-4">This instance is located at:</p>
			<% if (instance.flag) { %>
			<img src="https://flagcdn.com/<%= instance.flag.toLowerCase() %>.svg" width="300" alt="<%= instance.country %>" class="flag" />
			<% } %>
			<h3>
				<% if (instance.city) { %>
				<%= instance.city %>,
				<% } %>
				<%= instance.country %>
			</h3>
			<% if (instance.url) { %>
			<a data-umami-event="instance-url-<%= instance.url %>" href="https://<%= instance.url %>"><%= instance.url %></a>
			<% } %>
		</blockquote>
	</div>
	<div id="version">
		<p>
			Version
			<%= version %>
		</p>
	</div>
</body>
